<p id="notice"><%= notice %></p>

<h1>Listing Investments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Needed amount</th>
      <th>Main image</th>
      <th>User</th>
      <th>Sub image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investments.each do |investment| %>
      <tr>
        <td><%= investment.name %></td>
        <td><%= investment.description %></td>
        <td><%= investment.needed_amount %></td>
        <td><%= investment.main_image %></td>
        <td><%= investment.user_id %></td>
        <td><%= investment.sub_image %></td>
        <td><%= link_to 'Show', investment %></td>
        <td><%= link_to 'Edit', edit_investment_path(investment) %></td>
        <td><%= link_to 'Destroy', investment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment', new_investment_path %>
